
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
  }
body {
font-family: Arial, Helvetica, sans-serif

}

div #preçoo {
font-size: 40px;
color: #706b6b;
}

.col{
  padding-top: 10px;
  padding-bottom: 10px;

}
.list-group-item {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, .125);
  display: inline-block;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0px;
}

